
@model IEnumerable<FinalAssign.Models.City>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Assesment using Local and Web Apis</p>
    
</div>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">City</div>
            @foreach (var item in Model)
            { 
            <p>@item.Name</p>
            }
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-6">
      <div id="gmap"></div>
    </div>
</div>
